# Xcode
## User settings
xcuserdata/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

## Build generated
build/
DerivedData/
.build/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/configuration/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# User test media
*.ARW
*.CR2
*.CR3
*.NEF
*.DNG
*.RAF
